*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header area styling start */
.banner-area{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 808px;
    width: 1920px;
    padding-top: 0%;

}

.banner-msg{
    position: absolute;
    width: 650px; 
    height: 188px;
    left: 1000px;
    top:150px;
    font-family: 'sans-serif';
    line-height: 120px;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    color: #fff;

}

.banner-msg-des{
    padding-top: 20px;
    font-weight: 400;
    font-size: 26px;
    line-height: 45px;

}

.contact-us-btn{
    position: absolute;
    width: 230px;
    height: 64px;
    left: 1420px;
    border-radius: 10px;
    border: none;
    top: 728px;
    color: #005FAC;
    font-weight: 600;
    font-size: 26px; 
}

/* Content area started */

.girl-with-msg{
    position: absolute;
    width: 1072px;
    height: 723px;
    left: 206px;
    top: 980px;
}

.girl-with-msg-h3{
    position: absolute;
    width: 258px;
    height: 94px;
    left: 826px;
    top: 238px;
    font-style: normal;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.girl-with-msg-para{
    position: absolute;
    width: 416px;
    height: 104px;
    left: 826px;
    top: 370px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
    /* checkmark section */
    /* .checkmark{
        position: absolute;
        left: 16.67%;
        right: 16.67%;
        background-color: #16D887;
        bottom: 29.17%;
        top: 25%;
        border: 2px solid #16D887;
    }

    .checkmark_stem{
        position: absolute;
        left: 16.67%;
        right: 16.67%;
        background-color: #16D887;
        bottom: 29.17%;
        top: 25%;
        border: 2px solid #16D887;
    }

    .checkmark_kick{
        position:absolute;
        width: 16px;
        height: 11px;
        background-color: #16D887;
        left: 4px;
        top: 6px;
    } */

    .checkmark{
        position: absolute;
        width: 349px;
        height: 162px;
        left: 846px;
        top: 520px;
    }

   #checkmark_stem_icon{
        position: absolute;
        left: 815px;
        top: 515px;
   }

/* My plan section */


 .my-plans-headline {
    position: absolute;
    width: 179px;
    height: 47px;
    left: 765px; 
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.my-plans{
    display: flex; 
    position: absolute;
    width: 1141px;
    height: 203px;
    left: 230px;
    top: 1890px;

}

 
.my-planned-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 14px;
    position: absolute;
    width: 270px;
    height:80px;
    left: 130px;
    top: 200px;
}

.my-planned-task1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 14px;
    position: absolute;
    width: 270px;
    height:80px;
    left: 450px;
    top: 200px;
}

.my-planned-task2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 14px;
    position: absolute;
    width: 270px;
    height:80px;
    left: 750px;
    top: 200px;
}
.my-planned-task3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 14px;
    position: absolute;
    width: 270px;
    height:80px;
    left: 1130px;
    top: 200px;
}
.my-planned-task .my-planned-task1 .my-planned-task2 .my-planned-task3 img{
    width: 50%;
}
 

/* bottom banner area started */

.bottom-banner{
    position: absolute;
    width: 1220px;
    height: 300px;
    left: 420px;
    top: 2422px;
}

.bottom-gradient{
    position: absolute;
    width: 1220px;
    height: 300px;
    left: 420px;
    top: 2422px;  
}

.banner-msg-bottom{
    position: absolute;
    width: 450px; 
    height: 188px;
    left: 500px;
    top:2480px;
    font-family: 'sans-serif';
    line-height: 70px;
    font-weight: 700;
    font-size: 28px;
    text-align: left;
    color: #fff;

}

 .contact-us-btn-bottom{
    position: absolute;
    width: 160px;
    height: 54px;
    left: 500px;    
    top: 2640px;
    border-radius: 10px;
    border: none;
    background: #fff;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px; 
}

/* footer area started */

.footer-background{
    position: absolute;
    width: 1920px;
    height: 577px;
    top: 2851px;
    background: #151414;
}

.footer-msg-bottom{
    position: absolute;
    width: 450px; 
    height: 188px;
    left: 410px;
    top:120px;
    font-family: 'sans-serif';
    line-height: 70px;
    font-weight: 700;
    font-size: 28px;
    text-align: left;
    color: #fff;
}

.footer-msg-des{
    padding-top: 35px;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px; 
}

.footer-msg-email{
    padding-top: 35px;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px; 
}

.footer-msg-phone{
    padding-top: 35px;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px; 
}

#social-icon-fa{ 
    position:absolute;
    padding-top: 50px;  
    left: 0px;
    top: 280px;     
}

#social-icon-tw{ 
    position:absolute;
    padding-top: 50px;  
    left: 70px;
    top: 280px;     
}

#social-icon-yo{ 
    position:absolute;
    padding-top: 50px;  
    left: 140px;
    top: 280px;     
}

